html {
	
  background-image: url(images/222.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	color: white;
	background-color: grey;
}
h2 {
	color: white;
}
h3 {
	color: white;
}
p {
	color: white;
    text-indent: 20px;
}

#main {
	background-color: yellow;
}

body {
	
	color: white;
	margin-left:5%;
	margin-right:5%;
	font-size: 20px;
}